pandas
pyyaml
rapidfuzz
scikit-learn
fastapi
uvicorn
matplotlib
rpy2
numpy
fastapi 
uvicorn
fastparquet
R packages:
- ggplot2
- PCAtools
- DESeq2
- edgeR
- limma
- sva
- vsn
- arrayQualityMetrics
- biomaRt